@import url('https://fonts.googleapis.com/css2?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0eeec;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* --- OWN CSS START --- */

.page-container {
    max-width: 1024px;
    margin: auto;
}

h3, h4, h5, h6 {
    margin: 0;
}

.header {
    display: flex;
    padding: 1em 25em;
    background-color: green;
    color: white;
}

.header > div {
    margin: auto;
    width: 33.3%;
}

.navmenu {
    text-align: center;
}

.loginmenu {
    text-align: right;
}

.link {
    color: white;
    margin-left: 1em;
}

.link:hover {
    color: white;
}

/*--- HERO IMG START ---*/
.hero-img {
    width: 100%;
    min-height: 22em;
    margin-bottom: 5em;
    background-image: url("https://cdn.maklarhuset.se/web/bilder/innehall/2017/fri-vardering.jpg");
    background-position: 0 -20em;
}

/*--- HERO IMG END ---*/

/*.estates-container {
    padding: 0em 25em 5em 25em;
}

.estates-listing {

}*/

.search-container {
    padding: 10em 45em;
    background-color: rgba(0, 61, 0, 0.25)
}

.search-container h2 {
    color: white;
    font-weight: 600;
    text-align: center;
}

.card-container {
    margin-bottom: 2em;
}

.estate-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.estate-card:hover {
    border-color: limegreen;
    cursor: pointer;
    -webkit-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
}

.card-img {
    width: auto;
}

.card-img > img {
    width: 40em;
}

.card-data {
    padding: 1em;
}

.card-data-row {
    display: flex;
}

.card-data-row-item {
    font-weight: 600;
    margin-right: 3em;
    min-width: 80px;
}