@import url('https://fonts.googleapis.com/css2?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0eeec;
    scroll-behavior: smooth;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/*
a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}



@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
/*display: block;
    }
}*/


/* --- OWN CSS START --- */
h3, h4, h5, h6 {
    margin: 0;
}

.header {
    background-color: green !important;
    color: white;
}

.header > div {
    margin: auto;
    width: 50%;
}

.logo {
    width: 8em;
}

.navmenu {
    text-align: center;
}

.loginmenu {
    text-align: right;
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: white!important;
}

.active {
    color: white!important;
}

/*--- HERO IMG START ---*/
.hero-img {
    width: 100%;
    min-height: 22em;
    background-image: url("https://cdn.maklarhuset.se/web/bilder/innehall/2017/fri-vardering.jpg");
    background-position: 0 -20em;
}

.hero-img-overlay {
    min-height: inherit;
    background-color: rgba(0, 61, 0, 0.25)
}

/*--- HERO IMG END ---*/

.page-container {
}

.inner-container {
    padding: 5em 25em 5em 25em;
}

.estates-listing {
}

.search-container input {
    width: 20em;
}

.search-container h2 {
    color: white;
    font-weight: 600;
    text-align: center;
}

.card-container {
    margin-bottom: 2em;
}

.estate-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.estate-card:hover {
    border-color: limegreen;
    cursor: pointer;
    -webkit-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
}

.card-img {
    width: auto;
}

.card-img > img {
    width: 40em;
}

.card-data {
    padding: 1em;
    position: relative;
}

.card-data-row {
    display: flex;
}

.card-data-row-item {
    font-weight: 600;
    margin-right: 3em;
    min-width: 80px;
}

.estate-seller {
    display: block;
    position: absolute;
    bottom: 0;
}

.filters {
    text-align: center;
    padding: 1em 0em;

}
.filter-btn {
    margin: auto 0.5em;
    padding: 10px 25px;
    background-color: #fff;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    min-width: 8em;
    text-align: center;
}

.filter-btn:hover {
    border: 2px solid limegreen;
}

.filter-btn > p {
    margin: 0;
}

.footer-icons {
    font-size: 2em;
}

.footer > div {
    margin: auto;
    width: 50%;
}

.footer {
    background-color: green;
    color: white;
}
.profile-card {
    border: 1px solid #ddd;
    padding: 2em;
    border-radius: 5px;
    background-color: rgb(215, 255, 179);
    display: table;
    margin: 3em auto;
}
.user-container {
    padding: 2em;
    display: flex;
    width:30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: table;
    margin: 3em auto;
}

.user-container:hover {
        border-color: limegreen;
        -webkit-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
        box-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
}
#view-comments:hover {
    cursor: pointer;
    text-shadow: 0px 15px 73px -50px rgba(0,0,0,0.75);
}

.box-container {
    margin: 0 15em;
    padding: 1em;
    border-radius: 5px;
    background-color: #FFF;
}

.message {
    margin: auto 0 auto 2em;
}

.success-icon {
    font-size: 5em;
    color: green;
}

.cursor-pointer {
    cursor: pointer;
}

.upploads {
    width: 10em;
    padding-right: 2em;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.easteregg input, .easteregg p, .easteregg h1, .easteregg h2, .easteregg h3, .easteregg h4, .easteregg img {
    animation: spin 1.5s linear infinite;
}