@page "/realestate/addAuth"

<h3>AddEstateAuthorize</h3>
<AuthorizeView>
    <Authorized>
        <AddEstate />
    </Authorized>
    <NotAuthorized>
        Login before you post an estate.
    </NotAuthorized>
</AuthorizeView>


@code {


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Nu kan du börja sälja din bostad.");
    }

}
