@page "/realestate/addAuth"

<h3>AddEstateAuthorize</h3>
<AuthorizeView>
    <Authorized>
        <AddEstate />
    </Authorized>
    <NotAuthorized>
        Login before you post an estate.
    </NotAuthorized>
</AuthorizeView>


@code {

}
