@page "/getComment/{Username}"
@inject IRealEstateHttpsRepository context

@using Entities.Models

@if (comments == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var comment in comments)
    {
        <h5>@comment.UserName</h5>
        <p>@comment.CreatedOn.ToString()</p>
        <p>@comment.Content</p>
    }
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int NumItems { get; set; }
    [Parameter]
    public string Username { get; set; }

    private IEnumerable<Comment> comments;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Username);
        comments = await context.GetCommentsByUser(Username);
    }
}
