@page "/"
<div class="page-container">
    <div class="hero-img">
        <div class="search-container">
            <div>
                <!--Texten har ganska dålig contrast ratio-->
                <h2>Hitta din bostad idag</h2>
            </div>
            <div class="form-group">
                @**<h3>Sök/filtrera</h3>*@
                <input class="form-control" placeholder="Sök efter adress eller typ av byggnad" @bind-value="searchTerms.Searchterm" @bind-value:event="oninput" />
                @*<p>Title:</p>
                <input type="checkbox" @bind-value="searchTerms.TitleCheck" @bind-value:event="oninput" />
                <p>Adress:</p>
                <input type="checkbox" @bind-value="searchTerms.AdressCheck" @bind-value:event="oninput" />
                <p>Type:</p>
                <input type="checkbox" @bind-value="searchTerms.TypeCheck" @bind-value:event="oninput" />
                <p>Sortera efter:</p>
                <select class="form-control" list="OrderAlternatives" @onchange="OnPickedOrder" @bind-value="searchTerms.OrderBy" @bind-value:event="oninput">
                    @foreach (string choice in OrderAlternatives)
                    {
                        <option>@choice</option>
                    }
                </select>*@
            </div>
        </div>
    </div>
    <div class="estates-container">
        <h1>Bostäder till salu</h1>
        <div class="estates-listing">
            <CascadingValue Value="@searchTerms">
                <RealEstateCards />
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    public SearchTerms searchTerms { get; set; } = new SearchTerms();
    public List<string> OrderAlternatives { get; set; } = new List<string> {
        "Hyra",
        "Säljpris",
        "Titel",
        "Adress"
       };


    private void OnPickedOrder(ChangeEventArgs args)
    {
        searchTerms.OrderBy = args.Value.ToString();
    }
}