@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
<div class="page-container">
    <div class="hero-img">
        <div class="hero-img-overlay d-flex">
            <div class="m-auto">
                <div class="search-container m-auto">
                    <div>
                        <h2>Sök bostäder</h2>
                    </div>
                    <div class="form-group">
                        <input @onchange="ResetCurrentPage" class="form-control form-control-lg text-center" type="search" name="name" placeholder="Adress, Bostadstyp, Säljes/Uthyres" @bind-value="searchData.Searchterm" @bind-value:event="oninput" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <h3>Bostäder till salu</h3>
        <div class="estates-listing">
            <CascadingValue Value="@searchData">
                <RealEstateCards />
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    public SearchData searchData { get; set; } = new SearchData();
    public List<string> OrderAlternatives { get; set; } = Enum.GetValues(typeof(EstateTypeEnum))
    .Cast<EstateTypeEnum>()
    .Select(v => v.ToString())
    .ToList();

        private void ResetPage()
        {
            Console.WriteLine("inputted values");
        }
    private void OnPickedOrder(ChangeEventArgs args)
    {
        searchData.OrderBy = args.Value.ToString();
    }
    /// <summary>
    /// Whenever a search is performed our current page has to return to 0. If the new searchresult doesent have enought pages an error ocours.
    /// </summary>
    private void ResetCurrentPage()
    {
        searchData.CurrentPage = 0;
    }

}