@page "/"

    <div class="hero-img">
        <div class="search-container">
            <h2 style="width: 300px; margin: auto;">Hitta din bostad idag</h2>
            <div class="form-group">
                <input class="form-control" style="width: 300px; margin: auto;" placeholder="Sök efter adress eller typ av byggnad" @bind-value="searchTerms.Searchterm" @bind-value:event="oninput" />
            </div>
                @*<p>Title:</p>
                <input type="checkbox" @bind-value="searchTerms.TitleCheck" @bind-value:event="oninput" />
                <p>Adress:</p>
                <input type="checkbox" @bind-value="searchTerms.AdressCheck" @bind-value:event="oninput" />
                <p>Type:</p>
                <input type="checkbox" @bind-value="searchTerms.TypeCheck" @bind-value:event="oninput" />
                <p>Sortera efter:</p>
                <select class="form-control" list="OrderAlternatives" @onchange="OnPickedOrder" @bind-value="searchTerms.OrderBy" @bind-value:event="oninput">
                    @foreach (string choice in OrderAlternatives)
                    {
                        <option>@choice</option>
                    }
                </select>*@
        </div>
    </div>
    <div class="page-container">
        <h1>Bostäder till salu</h1>
        <CascadingValue Value="@searchTerms">
            <RealEstateCards />
        </CascadingValue>
    </div>

@code {
    public SearchTerms searchTerms { get; set; } = new SearchTerms();
    public List<string> OrderAlternatives { get; set; } = new List<string> {
        "Hyra",
        "Säljpris",
        "Titel",
        "Adress"
       };


    private void OnPickedOrder(ChangeEventArgs args)
    {
        searchTerms.OrderBy = args.Value.ToString();
    }
}