@page "/"
<div class="page-container">
    <div class="hero-img">
        <div class="search-container">
            <div>
                <h2>Sök bostäder</h2>
            </div>
            <div>
                <input class="form-control" type="search" name="name" placeholder="Adress, Bostadstyp, Säljes/Uthyres" />
            </div>
        </div>
    </div>
    <div class="estates-container">
        <h3>Bostäder till salu</h3>
        <div class="estates-listing">
            <CascadingValue Value="@Searchterm">
                <RealEstateCards />
            </CascadingValue>
        </div>
    </div>
</div>



@code {
    public string Searchterm { get; set; } = "";
}
