@page "/"
<div class="page-container">
    <h1>Bostäder till salu</h1>
    <div class="estates-container">
        <div class="estates-listing">


            <CascadingValue Value="@searchTerms">
                <RealEstateCards />
            </CascadingValue>
        </div>
        <div class="search-container">
            <h3>Sök/filtrera</h3>
            <p>Title:</p>
            <input @bind-value="searchTerms.SearchtermTitle" @bind-value:event="oninput" />
            <p>Adress:</p>
            <input @bind-value="searchTerms.SearchtermAdress" @bind-value:event="oninput" />
            <p>Type:</p>
            <input @bind-value="searchTerms.SearchtermType" @bind-value:event="oninput" />
            <p>Sortera efter:</p>
            <select class="form-control" list="OrderAlternatives" @bind-value="searchTerms.OrderBy" @bind-value:event="oninput">
                @foreach (string choice in OrderAlternatives)
                {
                    <option>@choice</option>
                }
            </select>

        </div>
    </div>
</div>

@code {
    public SearchTerms searchTerms { get; set; } = new SearchTerms();
    public List<string> OrderAlternatives { get; set; } = new List<string> { 
        "Säljpris", 
        "Hyra", 
        "Titel", 
        "Adress"
       };
}
