@page "/"
<div class="page-container">
    <h1>Bostäder till salu</h1>
    <div class="estates-container">
        <div class="estates-listing">
            <RealEstateCards/>
        </div>
        <div class="search-container">
            <h3>Sök/filtrera</h3>
            <p>Test</p>
        </div>
    </div>
</div>