@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
<div class="page-container">
    <div class="hero-img">
        <div class="search-container">
            <div>
                <h2>Sök bostäder</h2>
            </div>
            <div>
                <input @onchange="ResetCurrentPage" class="form-control form-control-lg" type="search" name="name" placeholder="Adress, Bostadstyp, Säljes/Uthyres" @bind-value="searchData.Searchterm" @bind-value:event="oninput" />
            </div>
        </div>
    </div>
    <div class="inner-container">
        <h3>Bostäder till salu</h3>
        <div class="estates-listing">
            <CascadingValue Value="@searchData">
                <RealEstateCards />
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    public SearchData searchData { get; set; } = new SearchData();
    public List<string> OrderAlternatives { get; set; } = new List<string> {
        "Hyra",
        "Säljpris",
        "Titel",
        "Adress"
       };

        private void ResetPage()
        {
            Console.WriteLine("inputted values");
        }
    private void OnPickedOrder(ChangeEventArgs args)
    {
        searchData.OrderBy = args.Value.ToString();
    }
    /// <summary>
    /// Whenever a search is performed our current page has to return to 0. If the new searchresult doesent have enought pages an error ocours.
    /// </summary>
    private void ResetCurrentPage()
    {
        searchData.CurrentPage = 0;
    }

}