<div class="footer flex-column py-3">
    <div class="text-center footer-icons">
        <i class="fab fa-facebook-f mx-3"></i>
        <i class="fab fa-instagram mx-3"></i>
        <i class="fab fa-twitter mx-3"></i>
        <i class="fas fa-egg mx-3" id="spin"></i>
    </div>
</div>

@code {

}
