<div class="footer">
    <div class="text-center footer-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram mr-4 ml-4"></i>
        <i class="fab fa-twitter"></i>
    </div>
</div>

@code {

}
