@inject NavigationManager NavManager

<div class="header">
    <div class="logo">
        <a href="/"><img src="/img/logo-white.png" alt="Gröna Fastigheter" /></a>
    </div>
    <div class="navmenu">
        <NavLink href="/" class="link">Köp bostad</NavLink>
        <NavLink href="realestate/add" class="link">Sälj bostad</NavLink>
    </div>
    <div class="loginmenu">
        <AuthorizeView>
            <Authorized>
                <NavLink href="logout" class="link">Logga ut</NavLink>
                <NavLink href="account" class="link">Mitt konto</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="login" class="link">Logga in</NavLink>
                <NavLink href="login" class="link">Skapa konto</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
@code {
    private string UserName { get; set; }

    private void RedirectToUserPage(string userName)
    {
        NavManager.NavigateTo("/getuser/" + userName);
    }
}
