@inject NavigationManager NavManager
@inject IRealEstateHttpsRepository context
@*@foreach (var item in context.BackgroundDatas.Values)
        {
            <div @ref="UpploadsMenu" class="d-flex upploads">

                <div>
                    <p>@item.Description</p>
                </div>
            </div>
            <div class="loader"></div>
        }
    </div>*@
<div class="header">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/"><img src="/img/logo-white.png" alt="Gröna Fastigheter" class="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Köp bostad</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="realestate/add">Sälj bostad</NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="logout" class="nav-link">Logga ut</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="login" class="nav-link">Logga in</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
                <li class="nav-item">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink href="account" class="nav-link">Mitt konto</NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="registration" class="nav-link">Skapa konto</NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
                @*En loop här för väntande posts*@
            </ul>
        </div>
    </nav>
</div>


@code {
    private ElementReference UpploadsMenu;
    private string UserName { get; set; }
    private bool hasBackgroundRequests { get; set; }

    private void RedirectToUserPage(string userName)
    {
        NavManager.NavigateTo("/getuser/" + userName);
    }

    protected override async Task OnInitializedAsync()
    {
        context.EventHandler += OnOfflineRequestsDone;
    }

    public void OnOfflineRequestsDone(object sender, EventArgs arg)
    {
        hasBackgroundRequests = true;
        this.StateHasChanged();
    }

}
