@inject NavigationManager NavManager
@inject IRealEstateHttpsRepository context

<div class="header">
    <div class="logo">
        <h4>Gröna Fastigheter</h4>
    </div>

    <div @ref="UpploadsMenu">
        <button>@hasBackgroundRequests</button>
    </div>
    <div class="navmenu">
        <NavLink href="/" class="link">Köp bostad</NavLink>
        <NavLink href="realestate/add" class="link">Sälj bostad</NavLink>
    </div>
    <div class="loginmenu">
        <AuthorizeView>
            <Authorized>
                <NavLink href="logout" class="link">Logga ut</NavLink>
                <NavLink href="account" class="link">Mitt konto</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="login" class="link">Logga in</NavLink>
                <NavLink href="login" class="link">Skapa konto</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
@code {
    private ElementReference UpploadsMenu;
    private string UserName { get; set; }
    private bool hasBackgroundRequests { get; set; }

    private void RedirectToUserPage(string userName)
    {
        NavManager.NavigateTo("/getuser/" + userName);
    }

    protected override async Task OnInitializedAsync()
    {
        context.EventHandler += OnOfflineRequestsDone;
    }

    public void OnOfflineRequestsDone(object sender, EventArgs arg)
    {
        hasBackgroundRequests = true;
        this.StateHasChanged();
    }

}
